<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">

  <title>{{ .Site.Title }}</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="canonical" href="{{ .Permalink }}">
  <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

  <link href="/favicon.png" rel="shortcut icon">
  <link href="/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
</head>
<body>

{{ template "modules/header.html" }}

<div class="hithere inner">
  <h2>Hi there!</h2>
  <p><a href="http://nickoneill.name">I'm</a> a UX and iOS Developer but I like to understand lots of things. Some of the topics frequenty written about are <a href="/tags/san-francisco/">San Francisco</a>, <a href="/tags/science/">Science</a>, <a href="/tags/tech/">Tech</a>, <a href="/tags/ux/">UX</a> and <a href="/tags/hardware/">Hardware</a>.</p>
  <p>Want to get regular updates via email? Use this <a href="https://ifttt.com/recipes/167364-email-me-blog-updates-from-nick">simple IFTTT recipe</a>.</p>
</div>

<div id="content" class="inner">

{{ range first 10 .Data.Pages }}
  {{ .Render "summary"}}
{{ end }}

</div>

{{ template "modules/footer.html" }}
